// =============================================================================
// _dark.scss — Dark Theme Variable Overrides
// =============================================================================

[data-bs-theme=dark] {
    --cp-body-color: #9da9bb;
    --cp-body-color-rgb: 157, 169, 187;
    --cp-body-bg: #0b1727;
    --cp-body-bg-rgb: 11, 23, 39;
    --cp-emphasis-color: #fff;
    --cp-emphasis-color-rgb: 255, 255, 255;
    --cp-secondary-color: #d8e2ef;
    --cp-secondary-color-rgb: 216, 226, 239;
    --cp-secondary-bg: #344050;
    --cp-secondary-bg-rgb: 52, 64, 80;
    --cp-tertiary-color: #748194;
    --cp-tertiary-color-rgb: 116, 129, 148;
    --cp-tertiary-bg: #162231;
    --cp-tertiary-bg-rgb: 22, 34, 49;
    --cp-primary-text-emphasis: #abcaf5;
    --cp-secondary-text-emphasis: #c7cdd4;
    --cp-success-text-emphasis: #73e6b6;
    --cp-info-text-emphasis: #93defe;
    --cp-warning-text-emphasis: #fbc6a8;
    --cp-danger-text-emphasis: #f4a5b3;
    --cp-light-text-emphasis: #646465;
    --cp-dark-text-emphasis: #91979e;
    --cp-primary-bg-subtle: #0f2b50;
    --cp-secondary-bg-subtle: #292d34;
    --cp-success-bg-subtle: #003f25;
    --cp-info-bg-subtle: #0c384c;
    --cp-warning-bg-subtle: #562d16;
    --cp-danger-bg-subtle: #5c1623;
    --cp-light-bg-subtle: #fdfefe;
    --cp-dark-bg-subtle: #08101b;
    --cp-primary-border-subtle: #163e73;
    --cp-secondary-border-subtle: #3a414a;
    --cp-success-border-subtle: #00693d;
    --cp-info-border-subtle: #145e7f;
    --cp-warning-border-subtle: #7b401f;
    --cp-danger-border-subtle: #731c2c;
    --cp-light-border-subtle: #5e6e82;
    --cp-dark-border-subtle: #4d5969;
    --cp-heading-color: var(--cp-secondary-color);
    --cp-link-color: #2c7be5;
    --cp-link-hover-color: #2362b7;
    --cp-link-color-rgb: 44, 123, 229;
    --cp-link-hover-color-rgb: 35, 98, 183;
    --cp-code-color: #ff679b;
    --cp-highlight-color: #9da9bb;
    --cp-highlight-bg: #623319;
    --cp-border-color: rgba(255, 255, 255, 0.05);
    --cp-border-color-translucent: rgba(0, 0, 0, 0.175);
    --cp-form-valid-color: #66e4af;
    --cp-form-valid-border-color: #00d27a;
    --cp-form-invalid-color: #f0879a;
    --cp-form-invalid-border-color: #e63757;
    --cp-gray-100: #0b1727;
    --cp-gray-link-hover-100: RGBA(9, 18, 31, var(--cp-link-opacity, 1)) !important;
    --cp-gray-200: #232e3c;
    --cp-gray-link-hover-200: RGBA(28, 37, 48, var(--cp-link-opacity, 1)) !important;
    --cp-gray-300: #344050;
    --cp-gray-link-hover-300: RGBA(42, 51, 64, var(--cp-link-opacity, 1)) !important;
    --cp-gray-400: #4d5969;
    --cp-gray-link-hover-400: RGBA(62, 71, 84, var(--cp-link-opacity, 1)) !important;
    --cp-gray-500: #5e6e82;
    --cp-gray-link-hover-500: RGBA(75, 88, 104, var(--cp-link-opacity, 1)) !important;
    --cp-gray-600: #748194;
    --cp-gray-link-hover-600: RGBA(93, 103, 118, var(--cp-link-opacity, 1)) !important;
    --cp-gray-700: #9da9bb;
    --cp-gray-link-hover-700: RGBA(126, 135, 150, var(--cp-link-opacity, 1)) !important;
    --cp-gray-800: #b6c1d2;
    --cp-gray-link-hover-800: RGBA(197, 205, 219, var(--cp-link-opacity, 1)) !important;
    --cp-gray-900: #d8e2ef;
    --cp-gray-link-hover-900: RGBA(224, 232, 242, var(--cp-link-opacity, 1)) !important;
    --cp-gray-1000: #edf2f9;
    --cp-gray-link-hover-1000: RGBA(241, 245, 250, var(--cp-link-opacity, 1)) !important;
    --cp-gray-1100: #f9fafd;
    --cp-gray-link-hover-1100: RGBA(250, 251, 253, var(--cp-link-opacity, 1)) !important;
    --cp-gray-100-rgb: 11, 23, 39;
    --cp-gray-200-rgb: 35, 46, 60;
    --cp-gray-300-rgb: 52, 64, 80;
    --cp-gray-400-rgb: 77, 89, 105;
    --cp-gray-500-rgb: 94, 110, 130;
    --cp-gray-600-rgb: 116, 129, 148;
    --cp-gray-700-rgb: 157, 169, 187;
    --cp-gray-800-rgb: 182, 193, 210;
    --cp-gray-900-rgb: 216, 226, 239;
    --cp-gray-1000-rgb: 237, 242, 249;
    --cp-gray-1100-rgb: 249, 250, 253;
    --cp-primary-rgb: 44, 123, 229;
    --cp-secondary-rgb: 116, 129, 148;
    --cp-success-rgb: 0, 210, 122;
    --cp-info-rgb: 39, 188, 253;
    --cp-warning-rgb: 245, 128, 62;
    --cp-danger-rgb: 230, 55, 87;
    --cp-light-rgb: 249, 250, 253;
    --cp-dark-rgb: 35, 46, 60;
    --cp-dark: rgba(35, 46, 60, 0.25);
    --cp-btn-cp-primary-color: var(--cp-primary);
    --cp-btn-cp-primary-hover-color: #5091e9;
    --cp-btn-cp-primary-active-background: #070e17;
    --cp-btn-cp-primary-active-color: #5091e9;
    --cp-btn-cp-secondary-color: var(--cp-secondary);
    --cp-btn-cp-secondary-hover-color: #8c96a6;
    --cp-btn-cp-secondary-active-background: #070e17;
    --cp-btn-cp-secondary-active-color: #8c96a6;
    --cp-btn-cp-success-color: var(--cp-success);
    --cp-btn-cp-success-hover-color: #2bda91;
    --cp-btn-cp-success-active-background: #070e17;
    --cp-btn-cp-success-active-color: #2bda91;
    --cp-btn-cp-info-color: var(--cp-info);
    --cp-btn-cp-info-hover-color: #4cc7fd;
    --cp-btn-cp-info-active-background: #070e17;
    --cp-btn-cp-info-active-color: #4cc7fd;
    --cp-btn-cp-warning-color: var(--cp-warning);
    --cp-btn-cp-warning-hover-color: #f7965f;
    --cp-btn-cp-warning-active-background: #070e17;
    --cp-btn-cp-warning-active-color: #f7965f;
    --cp-btn-cp-danger-color: var(--cp-danger);
    --cp-btn-cp-danger-hover-color: #ea5974;
    --cp-btn-cp-danger-active-background: #070e17;
    --cp-btn-cp-danger-active-color: #ea5974;
    --cp-btn-cp-light-color: var(--cp-light);
    --cp-btn-cp-light-hover-color: #fafbfd;
    --cp-btn-cp-light-active-background: #070e17;
    --cp-btn-cp-light-active-color: #fafbfd;
    --cp-btn-cp-dark-color: var(--cp-dark);
    --cp-btn-cp-dark-hover-color: rgba(165, 169, 175, 0.3775);
    --cp-btn-cp-dark-active-background: #070e17;
    --cp-btn-cp-dark-active-color: rgba(165, 169, 175, 0.3775);
    --cp-quaternary-bg: #0b1727;
    --cp-quaternary-bg-rgb: 11, 23, 39;
    --cp-emphasis-bg: #121e2d;
    --cp-emphasis-bg-rgb: 18, 30, 45;
    --cp-box-shadow: 0 7px 14px 0 rgba(3, 12, 51, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    --cp-box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
    --cp-box-shadow-lg: 0 1rem 4rem rgba($black, 0.175);
    --cp-box-shadow-inset: inset 0 1px 2px rgba($black, .075);
    --cp-input-focus-border-color-global: #163e73;
    --cp-bg-navbar-glass: rgba(11, 23, 39, 0.96);
    --cp-navbar-vertical-default-link-color: #9da9bb;
    --cp-navbar-vertical-default-link-hover-color: #edf2f9;
    --cp-navbar-vertical-default-link-active-color: #2c7be5;
    --cp-navbar-vertical-default-link-disable-color: #4d5969;
    --cp-navbar-vertical-default-hr-color: rgba(255, 255, 255, 0.08);
    --cp-navbar-vertical-default-scrollbar-color: rgba(116, 129, 148, 0.3);
    --cp-navbar-vertical-card-bg-color: #121e2d;
    --cp-btn-reveal-focus-bg: #0a1523;
    --cp-btn-reveal-hover-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.80), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.70), 0px 2px 5px 0px rgba(43, 45, 80, 0.40), 0px 0px 0px 1px rgba(255, 255, 255, 0.06);
    --cp-btn-reveal-focus-border-color: #0a1422;
    --cp-btn-cp-box-shadow: 0 0 0 1px rgba(0,8,19,.3), 0 2px 5px 0 rgba(0,13,33,.5), 0 1px 1.5px 0 rgba(0,8,1,.48), 0 1px 2px 0 rgba(0,8,1,.4);
    --cp-btn-cp-hover-box-shadow: 0 0 0 1px rgba(0,8,19,.3), 0 3px 7px 0 rgba(0,13,33,.8), 0 1px 1.5px 0 #000801, 0 1px 2px 0 #000801;
    --cp-btn-cp-default-hover-color: #c2ccda;
    --cp-btn-cp-default-active-background: #0a1523;
    --cp-btn-cp-default-active-border: #c2ccda;
    --cp-avatar-name-bg: #4d5969;
    --cp-notification-title-bg: #344050;
    --cp-notification-unread-hover-bg: #1a222c;
    --cp-kanban-bg: rgba(35, 46, 60, 0.25);
    --cp-kanban-item-bg: #232e3c;
    --cp-kanban-nav-link-card-details-hover-bg: #344050;
    --cp-bg-shape-bg: #01224b;
    --cp-bg-shape-bg-ltd: linear-gradient(-45deg,rgba(20,58,101,.41),#053571);
    --cp-bg-shape-bg-dtl: linear-gradient(-45deg,#0a3b79,rgba(9,25,43,.41));
    --cp-line-chart-gradient: linear-gradient(45deg,#012552,#001835);
    --cp-card-gradient: linear-gradient(45deg,#012552,#001835);
    --cp-bg-circle-shape: linear-gradient(-45deg,rgba(9,25,43,.41),#0a3b79);
    --cp-bg-circle-shape-bg: #4695ff;
    --cp-modal-shape-header: linear-gradient(-45deg,#012552,#001835);
    --cp-modal-shape-header-after: linear-gradient(-45deg,rgba(20,58,101,.41),#053571);
    --cp-modal-shape-header-bg: #01224b;
    --fc-page-bg-color: #0b1727;
    --fc-neutral-bg-color: #232e3c;
    --cp-leaflet-bar-bg: #344050;
    --cp-bg-choices-close-button: #4d5969;
    --cp-thumbnail-bg-global: #232e3c;
    --cp-card-span-img-hover-box-shadow: var(--cp-box-shadow);
    --cp-setting-toggle-shadow: 0 -7px 14px 0 rgba(3, 12, 51, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    --cp-scrollbar-bg: rgba(52, 64, 80, 0.6);
    --cp-simplebar-bg: rgba(182, 193, 210, 0.6);
    --cp-btn-disabled-custom-background: rgba(11, 23, 39, 0.65);
    --cp-btn-disabled-custom-color: rgba(255, 255, 255, 0.2);
    --cp-dropdown-bg-global: #232e3c;
    --cp-dropdown-link-hover-color-global: #eaeff6;
    --cp-dropdown-link-hover-bg-global: rgba(11, 23, 39, 0.4);
    --cp-popover-header-bg-global: rgba(35, 46, 60, 0.25);
    --cp-btn-close-filter: invert(1) grayscale(100%) brightness(200%);
    --cp-carousel-indicator-active-bg: #000;
    --cp-carousel-caption-color: #000;
    --cp-carousel-control-icon-filter: invert(1) grayscale(100);
}
